In [1]:
import json
from pandas.io.json import json_normalize

In [24]:
# read json from url
from urllib.request import urlopen
url = 'https://jsonplaceholder.typicode.com/posts'
posts = json.load(urlopen(url), encoding='UTF-8')

In [25]:
# see how many posts are there
len(posts)

100

In [48]:
# see what's the first record and its keys
print(posts[0], posts[0].keys())

{'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'} dict_keys(['userId', 'id', 'title', 'body'])

In [ ]:
# get titles of the 100 posts
for d in posts:
    print(d['title'])

In [45]:
# normalize json data into a dataframe
df = json_normalize(data)
df.head(3)

,body,id,title,userId
0,quia et suscipit\nsuscipit recusandae consequu...,1,sunt aut facere repellat provident occaecati e...,1
1,est rerum tempore vitae\nsequi sint nihil repr...,2,qui est esse,1
2,et iusto sed quo iure\nvoluptatem occaecati om...,3,ea molestias quasi exercitationem repellat qui...,1

In [47]:
# organize column sequence
df= df[["userId","id","title","body"]]
df.head(3)

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...

In [49]:
# save dataframe in csv and load into a relational database (BigQuery)
df.to_csv('posts.csv', index=False)